<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Philippe Miranda - ClickBus BackEnd Test</title>
</head>
<body>

<div class="container">
    <h1>Hello</h1>
    <p class="lead">You are running an api made by Philippe Miranda as a job application at ClickBus. </p>
    <p>If you are seeing this message is because you are in one route that does not have been mapped for a GET request.
        Please consult the documentation and have a good day at work! Hope to meet you!
    </p>
</div>

</body>
</html>